Imprima a tabuada do 1 ao 10

In [1]:
for index in range(1,11):
  for number in range(1,11):
    print(number * index)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

Considerando os números inteiros de 1 a 100, escreva um código que imprima somente os divisíveis por 3.

In [2]:
for x in range(1, 101):
  if x % 3 == 0:
    print(x)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

Imprima os seguintes números na forma abaixo:

1 

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

In [3]:
for num in range(1,6):
  numbers = ''
  for num2 in range(num):
    numbers += str(num)
  print(numbers)

1
22
333
4444
55555

Dadas as duas listas, crie uma nova que contenha os números impares da primeira e os números pares da segunda

In [4]:
lista_1 = [0, 4, 17, 8, 25, 6, 3, 99, 62, 7, 30, 71]
lista_2 = [10, 11, 27, 18, 5, 62, 3, 94, 2, 7]
lista_3 = []

for num in lista_1:
  if num % 2 != 0:
    lista_3.append(num)

for num in lista_2:
  if num % 2 == 0:
    lista_3.append(num)
    
print(lista_3)

[17, 25, 3, 99, 7, 71, 10, 18, 62, 94, 2]

Dados dois números inteiros, escreva um código que:

* retorne com o produto dos numeros
* se o produto for maior que 1000, retorne a soma
* execute a tarefa acima para duas listas de números
* execute as tarefas acima numa função

In [5]:
def transform_to_list(num):
  lista = num
  if type(num) is not list:
    lista = [num]
  return lista

def calculate_numbers(num1, num2):
  lista1 = transform_to_list(num1)
  lista2 = transform_to_list(num2)
  list_of_numbers = list(zip(lista1, lista2))
  for number1, number2 in list_of_numbers:
    product = number1 * number2
    if product > 1000:
      return number1 + number2
  return product